h2, h4 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.navbar-brand {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 40px;
}

.col-md-3 {
    height: 200px;
}